/* Lucky Recipe hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --negro: rgb(0, 0, 0);
  --blanco: rgb(255, 255, 255); 
  --verde: rgb(64, 195, 130);
  --verde-oscuro: rgb(24, 105, 65);
 }
/* Reset (El modelo de caja CSS alternativo)*/
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FONTS*/




.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*@media (min-width: 992px){
@media (min-width: 1200px){
@media (min-width: 768px){
 */
/**************************************** Reglas generales */
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: var(--main-color);
  background-color: var(--bg-color);
}
h1,
h2,
h3,
h4 {
  
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}




/*****************************Tags**************************/
.tags-section {
  padding: 2rem;
  text-align: center;

}

.tags-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--negro);
}

.tags-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.tag {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: var(--verde); 
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px var(--negro);
  transition: transform 0.2s, background-color 0.3s;
  cursor: pointer;
}

.tag:hover {
  background-color: #4ca36a;
  transform: scale(1.1);
}






 /**************************************** Reglas para conseguir un sticky footer */
html,
body {
    height: 100%;
    font-weight: 400;
    text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url('img/vecteezy_torn-paper-texture-background_6218499_132.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: repeat; 
}
main {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}

/**************************************** Footer */
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--light-color);
  font-weight: 500;
  text-align: center;
  box-shadow:  0 -2px 5px rgba(0, 0, 0, 0.1);
}
footer div:first-child {
  margin-bottom: 1rem;
}
footer div:first-child p {
  padding-top: 1rem;
  font-size: .9rem;
  margin: 0;
}
footer ul {
  margin-left: 0;
  list-style-type: none;
}
footer ul li {
  margin-bottom: 0;
  padding-bottom: .5rem;
  font-size: .9rem;
}
footer ul.social li {
  display: inline-block;
  height: 30px;
}
footer a {
  color: var(--light-color);
  border-bottom: none;
  text-decoration: none;
}
footer a:hover {
  color: var(--accent-color);
  border-bottom: none;
  font-weight: 700;
}
footer ul.social li img:hover {
  opacity: 0.7;
}




@media(min-width: 992px) {
  .flex-footer {
      display: flex;
      justify-content: space-between;
      text-align: left;
      align-items: center;
  }
  footer .footer-right {
      text-align: right;
  }
  footer ul.social {
      margin-bottom: 0.5rem;
  }
  footer ul.legal li {
      display: inline-block;
      padding-bottom: 0;
  }
  footer ul.legal li::after {
      content: " | ";
      padding-right: .5rem;
      padding-left: .5rem;
  }
  footer ul.legal li:last-child::after {
      content: "";
      padding-right: 0;
      padding-left: 0;
  }
}





/**************************************** Main */
main {
  margin: 0 0 5rem;
}


/**************************************** Reglas generales */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
 position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-image: url('img/vecteezy_torn-paper-texture-background_6218499_132.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}


.menu-icon, .login-icon {
    cursor: pointer;
  }
  .menu-icon{
    width: 30px;
    height: 30px;
  }
.login-icon { 
  background-image: url('img/person.png');
  height: 30px;
  width: 30px; 
  background-size: contain; 
  background-repeat: no-repeat; 
}

.web-name {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.web-name::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url(img/vecteezy_lucky-clover-leaf_13713853.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: -1;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}





  /************************************************************
Página de inicio
*************************************************************/
  
  .hero-image {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    position: relative;
    background-image: url(img/close-up-crepes-with-cream-strawberries.jpg);
    background-size: cover;
    background-position: center;
    color: var(--negro);
    text-align: center;
    padding: 10px;
    
    
}
.hero-image h1 {
  color: var(--negro);
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-right: 200px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  max-width: 400px;
}


.copyright{
  font-size: 0.8rem;
  color: var(--negro);
  position: absolute;
  bottom:1rem;
  right: 1rem;
  padding: .5rem;
}
.copyright a {
  color: var(--negro);
  text-decoration: none;
}
.copyright a:hover {
  color: var(--verde);

}

/*****Grid**************/
.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  padding: 20px;
  background-color: var(--blanco);
}
.country-item {
  position: relative; /* Posiciona el figcaption dentro del contenedor */
  margin: 0; /* Elimina el margen predeterminado de figure */
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s ease; /* Animación suave */
}

.country-item:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.country-item a{

}

.country-item img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  display: block; 
}
.country-item figcaption {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  text-align: center; 
  font-size: 1rem;
  padding: 10px 0; 
  margin: 0;
}

.country-item figcaption:hover {
  cursor: pointer; 
  background-color: rgba(0, 0, 0, 0.9); 
  font-size: 2rem;
}






/**********************Flecha*************************/

/* Estilo general del botón */
.arrow-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--verde); 
  color: white;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Hover del botón */
.arrow-button:hover {
  background-color: var(--verde-oscuro); 
  transform: translateY(-2px);
}

/* Estilo de la flecha */
.arrow {
  display: inline-block;
  margin-left: 8px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

/* Animación de la flecha al hover */
.arrow-button:hover .arrow {
  transform: translateX(8px); 
}


.arrow-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
}

/****************/


/* Multimedia responsive */

iframe {
  width: 100%;
  height: auto;
  max-width: 500px;
  aspect-ratio: 16/9;
  border: 0;
}

.video{
  background-color: var(--blanco);
}







/***********************HEADER****************************/
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}




/********************Search button*************************/
.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin: 20px;
  }

#searchBar {
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  border: 3px solid green;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease;
}

#searchBar:focus {
  border-color: darkgreen;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

.search-icon {
  position: absolute;
  right: 20px;  
  top: 50%;
  transform: translateY(-50%); 
  width: 20px;  
  height: 20px;  
}



/********************Top Nav******************************/
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000; 
  position: relative;
  flex-shrink: 0; 
}
 


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 780px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    font-style: normal;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}