/* Lucky Recipe hoja de estilos */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

 
:root {
    --main: rgb(255, 249, 228);
    --negro: rgb(0, 0, 0);
    --blanco: rgb(255, 255, 255); 
    --verde: rgb(11, 181, 91); 
    --verde-oscuro: rgb(24, 105, 65);
  }
  *,
  *:after,
  *:before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
a{
  color: var(--negro);
}

/*FONTS*/
.playfair-display {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/************************ Reglas generales *****/
body{
    min-height: 100vh;
    background-color: var(--main);
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 60px;
}

@media(min-width:1655px){
body{
  max-width: 80%;
  margin: 0 auto;
}

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
 text-align: center;

}
h1 {
  font-size: 2.5rem;
  margin: 2rem auto;
}

h2 {
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }

nav{
    background-color: var(--blanco);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    position: fixed;
    z-index: 1000;
    width:100%;
}
nav ul{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 70px;
    padding: 15px 10px;
}
nav a{
    height:100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--negro);
    font-size: 25px;
}
nav a:hover{
  color: var(--verde);
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position:fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.332);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(120, 85, 85, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width:100%;
}
.sidebar a{
  width: 100%;
}
.sidebar a:hover{
    color: var(--verde);
  }
.logo{
  display:flex;
  align-items: center;
}
.logo a{
    font-size: 25px;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.logo a:hover{
  color: var(--negro);
  font-size: 27px;
  
}
.logo::after{
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url('img/lucky-clover.avif'), 
                    url('img/lucky-clover.webp'),
                    url('img/vecteezy_lucky-clover-leaf_13713853.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.menu-button{
    display: none;
  }
@media(max-width:1110px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  
  nav a{
    padding: 5px;
  }
  
}
@media(max-width:400px){
  .sidebar{
    width: 100%;
  }

}
@media(min-width:1655px){
  nav{
    max-width: 80%;
    margin: 0 auto;
  }
  
}

/********************Search Bar**************/
.box {
    max-width: 400px;
    width: 100%;
    padding-top: 90px;
    margin:auto;
    display:flex;
    justify-content: flex-end;
    margin-right:20px;
}

@media(max-width:1223px){
 .box{
    display:flex;
    justify-content: center;
    margin:auto;
 }
}

.box .search-box{
    position: relative;
    height: 40px;
    max-width: 350px; /*Cambiar a 50px si lo quiero en forma de circulo*/
    width: 100%;
    transition: 0.3s;
}
.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 18px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
}
.search-box .search-icon{
    position: absolute;
    right:0;
    top: 0;
    width: 40px;
    height: 100%;
    background-color:var(--verde);
    color: var(--blanco);
    text-align: center;
    line-height: 40px;
    font-size: 2rem;
    border-radius:0 15px 15px 0;
}

#checkbox:checked ~ .search-box{
    max-width: 350px;
}
#checkbox:checked ~ .search-box .search-icon{
    border-radius: 0 20px 20px 0;
}
#checkbox{
    display: none;
}

/******Barra de navegación horizontal********/

div.scrollmenu {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    white-space: nowrap;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding-bottom:10px;
    
}

div.scrollmenu a {
    display: inline-block;
    color:var(--negro);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
    
 
}
  
div.scrollmenu a:hover {
    color: var(--verde);
}

/**************************************** Footer */

footer {
    padding: 2rem 3rem;
    color: var(--light-color);
    font-weight: 500;
    text-align: center;
    box-shadow:  0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

 
 footer div:first-child {
    margin-bottom: 1rem;
  }
 footer div:first-child p {
    padding-top: 1rem;
    margin: 0;
  }
 footer ul {
    margin-left: 0;
    list-style-type: none;

  }
 footer ul li {
    margin-bottom: 0;
    padding-bottom: .5rem;
}
  footer ul.social li {
    display: inline-block;
    height: 30px;
  }
  footer a {
    color: var(--light-color);
    border-bottom: none;
    text-decoration: none;
    
}
  footer a:hover {
    color: var(--verde);
    border-bottom: none;
    font-weight: 400;
  }
  footer ul.social li img:hover {
    opacity: 0.7;
  }
  
   
  @media(min-width: 992px) {
.flex-footer {
     display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
    footer .footer-right {
        text-align: right;
    }
    footer ul.social {
        margin-bottom: 0.5rem;
    }
    footer ul.legal li {
        display: inline-block;
        padding-bottom: 0;
    }
    footer ul.legal li::after {
        content: " | ";
        padding-right: 10px;
        padding-left: 10px;
    }
    footer ul.legal li:last-child::after {
        content: "";
        padding-right: 0;
        padding-left: 0;
    }
  }
  


/*****************************Tags**************************/

.tags-section {
    margin: 0 50px;
    text-align: center;
    margin-bottom: 5rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    
  }
  
  .tags-section h2 {
    margin-bottom: 2rem;
    color: var(--negro);
    margin: 20px;
   
  }
  
  .tags-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    align-items: center;
}

  
  .tag {
    padding: .5rem 1rem;
    font-size: 2rem;
   
    background-color: rgba(42, 200, 116, 0.3);
    color: var(--negro);
    border-radius: 20px;
    box-shadow: 0 2px 5px var(--negro);
    transition: transform 0.2s, background-color 0.3s;
    cursor: pointer;
    
  }
  
  .tag:hover {
    background-color: var(--blanco);
    transform: scale(1.1);
  }
  
  
  
/************************************************************
Página de inicio
*************************************************************/
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
  }
}

/* Multicolor box frame animation)*/
.animated-border {
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 15px; 
  overflow: hidden; /* Asegura que el contenido no se salga del borde */
}

.animated-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 45px; /* Bordes redondeados */
  padding: 5px; /* Tamaño del borde */
  margin: -15px;
  background: linear-gradient(90deg, yellow, pink, green, yellow); /* Gradiente de colores */
  background-size: 300% 300%; /* Tamaño de animación */
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); /* Oculta el fondo interno */
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out; /* Combina para mostrar solo el borde */
  mask-composite: exclude;
  animation: slideColors 3s linear infinite; /* Animación infinita */
}

@keyframes slideColors {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}




.arrow-image {
  width: 80px; 

  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.arrow-image:hover {
  transform: translateX(10px); /* Efecto de desplazamiento al pasar el cursor */
}


/***/

.hero-image {
    height: 40vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    position: relative;
    /*background-image: url(img/close-up-crepes-with-cream-strawberries.jpg);*/
    background-size: cover;
    background-position: center;
    color: var(--negro);
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
   
}

.hero-image h1 {
  color: var(--negro);
  font-size: 40px;
  font-style: italic;
  margin-top: 1rem;
  margin-right: 180px;
  margin-left: 30px;
  font-family: "Playfair Display", serif;
  font-weight:400;
  max-width: 400px;
  animation: bounceIn 1s ease-out;
  -webkit-animation: bounceIn 1s ease-out; /* Añadir para compatibilidad con Safari */
}

@media (max-width: 768px){
  .hero-image h1 {
  font-size: 3rem;
  }
  .hero-image {
    background-image: url(img/close-up-crepes-with-cream-strawberries1080px.gif);
  }
}
@media (min-width: 767px){
  .hero-image {
    background-image: url('img/close-up-crepes-with-cream-strawberries1500px.gif');
  }
}
@media (min-width: 1200px) {
  .hero-image {
    background-image: url('img/close-up-crepes-with-cream-strawberries.jpg');
  }
  .hero-image h1{
    margin-left: 100px;
    font-size: 5rem;
  }
}

.copyright{
  font-size: 1.5rem;
  color: var(--negro);
  position: absolute;
  bottom:1rem;
  right: 1rem;
  padding: .5rem;
 

}
.copyright a {
  color: var(--negro);
  text-decoration: none;
  
}
.copyright a:hover {
  color: var(--verde);
  
}

.cook {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 200px;
  margin-bottom: -15px;
}
.cook:hover {
  animation: tada 1s; 
}

@media (min-width: 992px) {
  .cook{
    width: 250px;
    margin-bottom: -23px;
}
}

.globo:hover {
  animation: flip 1s; 
}

.picnic{
  height: 40vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  position: relative;
  background-size: cover;
  background-position: center;
  color: var(--negro);
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  background-image: url('img/picnic-french-alps-with-lake-panoramic-view.webp');
}

@media (max-width: 748px) {
  .picnic{
    background-image: url('img/picnic-cropped.webp');
  }
}

/*****Grid**************/
.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  padding: 20px;
  background-color: var(--blanco);
  margin: 10px;
}

.country-item {
  position: relative; 
  margin: 0; 
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.country-item:hover {
  transform: scale(1.1);
}

.country-item img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  display: block; 
}

.country-item figcaption {
  position: absolute; 
  bottom: 0; 
  width: 100%;
  background-color: rgba(42, 200, 116, 0.7); 
  color: var(--blanco); 
  text-align: center; 
  font-size: 25px;
  padding: 10px 0; 
  margin: 0;
}

.country-item figcaption a:hover {
  cursor: pointer; 
  background-color: rgba(12, 137, 85, 0.9); 
  font-size: 30px;
}



/**********************Flecha*************************/

/* Estilo general del botón */
.arrow-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: var(--verde); 
  color: white;
  font-size: 2rem;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

/* Hover del botón */
.arrow-button:hover {
  background-color: var(--verde-oscuro); 
  transform: translateY(-2px);
  color: var(--blanco);
}

/* Estilo de la flecha */
.arrow {
  display: inline-block;
  margin-left: 8px;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

/* Animación de la flecha al hover */
.arrow-button:hover .arrow {
  transform: translateX(8px); 
}


.arrow-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
}

/****************/


/* Multimedia responsive */

iframe {
  width: 100%;
  height: auto;
  max-width: 500px;
  aspect-ratio: 16/9;
  border: 0;
}

.video{
  background-color: var(--blanco);
}


/***************Greece****************/
.swiper {
width: 100%;
height: 300px;
}
@media (min-width: 992px) {
.swiper {
width: 100%;
height: 400px;
}
}
@media (min-width:1200px) {
.swiper {
width: 100%;
height: 800px; 
}
}
.swiper-slide{
display: flex;
justify-content: center;
align-items: center;
font-size: 60px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


/********New Swiper with copyright********/
.swiper {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .swiper {
      height: 400px;
  }
}

@media (min-width:1200px) {
  .swiper {
      height: 800px; 
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*******Otro estilo para Copyright*****/
.copyright {
  font-size: 1rem;
  color:rgba(0, 0, 0, 0.638);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.5); 
  padding: 0.5rem;
  border-radius: 5px;
}
.copyright a {
  color:rgba(0, 0, 0, 0.638);
  text-decoration: none;
  
}
.copyright a:hover {
  color: var(--verde);
}

/*****************Corazón*********************/

.heart {
    font-size: 50px;
    cursor: pointer;
}
.liked {
    color: red;
}
.unliked {
    color: gray; 
}

/****************RECETAS*****************/
.fotoreceta {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  position: relative;
  background-image: image-set(
    url('img/homemade-newyork-cheesecake-with-lemon-mint-healthy-organic-dessert-top-view.jpg') 1x,
    url('img/homemade-newyork-cheesecake-3120px.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  color: var(--negro);
  text-align: center;
  overflow: hidden;
}
@media (min-width: 1200px){
  .fotoreceta {
    height: 550px;
}
}


.fotoreceta::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23%; 
  background-color: rgba(255, 255, 255, 0.7);
}

.fotoreceta h1 {
  color: var(--negro);
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  max-width: 400px;
  z-index: 1; 
}

/* Estilo para el corazón */

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  z-index: 2;
  background-color: white; 
  border-radius: 50%; 
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
}

/* Corazón cuando está en estado "liked" */
.heart.liked {
  color: red; 
  box-shadow: 0px 6px 8px rgba(255, 0, 0, 0.3);
  transform: scale(1.2); 
; 
}
img.golden {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 35px;
  height: auto;
}
.estrellas{
  position: absolute;
  top: 0;
  left: 0;
}

/******Drawing single line heart svg***********/

@keyframes draw {
  to {
      stroke-dashoffset: 0; 
  }
}


/***************Lemon Cheesecake******************/

.ingredients{
  padding-bottom: 40px;
}
.ingredients p {
  position: relative;
  padding: 0 20px;
  margin: 5px 0;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Pompiere", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
}

.steps h3{
  font-family: "Playfair Display", serif;
 font-weight: 400;
  font-style: italic;
}
h3.mensaje{
  font-weight: 400;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 10px;
}

/* Style for steps with numbered list */

.steps {
  counter-reset: step;
  background-color: var(--blanco);
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

/* Style for each step paragraph */
.steps p {
  position:relative ;
  font-size: 2.5rem;
  line-height: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2rem;
  padding: 0 20px;
  margin: 5px 0;
}

/* Numbering for steps using ::before */
.steps p::before {
  counter-increment: step;
  content: counter(step) ".";
  position: relative;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 2.5rem; 
  font-weight: bold; 
}

.time {
  display: flex;
  justify-content:center;  
  align-items: center; 
  margin: 20px 0;
 gap: 20px;
}

.time-item {
  display: flex;
  align-items: center;  
}

.time-item i {
  margin-right: 10px;  
  font-size: 2rem;
}

.time-item span {
  font-size: 2rem;
}


/******Animation************/

.smoke-wrap {
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
  z-index: 0;
 right:50px;
  overflow: hidden;
 
}

.smoke,
.smoke2,
.smoke3 {
  filter: blur(5px);
  transform-origin: 50% 50%;
}

.smoke {
  animation: smoke1 3s linear infinite;
  animation-delay: 0.5s;
}

.smoke2 {
  animation: smoke2 3s linear infinite;
  animation-delay: 1.5s;
}

.smoke3 {
  width: 500px;
  animation: smoke3 4s linear infinite;
  animation-delay: 2.5s;
}

@keyframes smoke1 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(-1, 1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(-1, 1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(-1, 1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(-1, 1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(-1, 1.2);
    opacity: 0;
  }
}

@keyframes smoke2 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-10px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-20px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-30px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-40px) scale(1.2);
    opacity: 0;
  }
}

@keyframes smoke3 {
  0% {
    filter: blur(0px);
    transform: translateY(0px) scale(1);
    opacity: 0;
  }

  25% {
    filter: blur(3px);
    transform: translateY(-20px) scale(1.05);
    opacity: 0.5;
  }

  50% {
    filter: blur(5px);
    transform: translateY(-40px) scale(1.1);
    opacity: 1;
  }

  75% {
    filter: blur(5px);
    transform: translateY(-60px) scale(1.15);
    opacity: 0.5;
  }

  100% {
    filter: blur(7px);
    transform: translateY(-80px) scale(1.2);
    opacity: 0;
  }
}


.image-attribution {
    font-size: 0.9rem; 
    color: #555; 
    text-align: center; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.image-attribution a {
    color: #0077cc; 
    text-decoration: none; 
}

@media(max-width:1223px){
    .smoke-wrap{
        display:; /*none*/
        top: ;
       
    }
    .smoke3 {
      width: ;
    }
}


/*****************Categories***********/

.categories h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.category {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  margin-bottom: 10px;
}

.category-grid img {
  width: 100%;
  height: auto;
}
@media screen and (max-width:  740px) {
  .category-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      margin: 10px;
    }
}

@media screen and (min-width: 741px) {
  .category-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin: 10px;
    }
}
@media (min-width: 1200px){
  .category-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
}
.categories .category p {
  font-size: 25px; 
}

/***************Sticky footer******/

.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer-item {
  text-decoration: none;
  color: var(--negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.footer-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.footer-item span {
  font-size: 17px;
}

.footer-item:hover {
  color: var(--verde)
}

@media screen and (min-width: 741px) {
  .footer-bar{
    display: none;
  }
}




